In [1]:
# Add src folder to Python path so db_config can be imported
import sys
import os

sys.path.append(os.path.abspath("../src"))

In [2]:
# Used to execute SQL queries and show results
from sqlalchemy import text
from db_config import engine
import pandas as pd

# Table record counts

In [ ]:

def record_count(table):
    with engine.connect() as conn:
        result = conn.execute(
            text(f"SELECT COUNT(*) FROM {table}")
        ).scalar()
    return  result

#### we have written  a dynamic function which will take table name as a parameter and return count of records

In [13]:
record_count('sleepday_merged')

413

In [20]:


def get_all_tables():
    with engine.connect() as conn:
        result = conn.execute(
            text("""
                SELECT table_name
                FROM information_schema.tables
                WHERE table_schema = :db_name
                  AND table_type = 'BASE TABLE'
            """),
            {"db_name": "fitbit_db"}   # ðŸ‘ˆ pass DB name here
        )
        return [row[0] for row in result]

####  get_all_tables function  will return all  existing tables in the fitbit_db database

In [22]:
tables=get_all_tables()

>* we have stored all tables in a variable tables 
>* we used for loop to through tables and printed count of records

In [28]:
dict={}
for table in tables:
    res=record_count(table)
    dict[table]=res
    print(f'{table} :  {res}')
    print('-'*40)

dailyactivity_merged :  940
----------------------------------------
dailycalories_merged :  940
----------------------------------------
dailyintensities_merged :  940
----------------------------------------
dailysteps_merged :  940
----------------------------------------
heartrate_seconds_merged :  2483658
----------------------------------------
hourlycalories_merged :  22099
----------------------------------------
hourlyintensities_merged :  22099
----------------------------------------
hourlysteps_merged :  22099
----------------------------------------
minutecaloriesnarrow_merged :  1325580
----------------------------------------
minutecalorieswide_merged :  21645
----------------------------------------
minuteintensitiesnarrow_merged :  1325580
----------------------------------------
minuteintensitieswide_merged :  21645
----------------------------------------
minutemetsnarrow_merged :  1325580
----------------------------------------
minutesleep_merged :  188521
----------------------------------------
minutestepsnarrow_merged :  1325580
----------------------------------------
minutestepswide_merged :  21645
----------------------------------------
sleepday_merged :  413
----------------------------------------
weightloginfo_merged :  67
----------------------------------------

# Unique user counts

In [35]:
with engine.connect() as conn:
        result = conn.execute(
            text(f"SELECT COUNT(DISTINCT ID) FROM dailyactivity_merged")
        ).scalar()
print(f'Unique Users:{result}')

Unique Users:33

# Date coverage per table

In [38]:
with engine.connect() as conn:
        result = conn.execute(
            text(f"SELECT MIN(ACTIVITYDATE),MAX(ACTIVITYDATE)  FROM dailyactivity_merged")
        ).fetchall()
result

[(datetime.date(2016, 4, 12), datetime.date(2016, 5, 12))]

#### we have found that the data is collected from 2016/04/12 to 2016/05/12(31 days)

# Distributions of steps, calories, sleep

In [56]:
with engine.connect() as conn:
        result = conn.execute(
            text(f"SELECT id, avg(Calories) as  'mean colories' FROM dailyactivity_merged group by id")
        )
df = pd.DataFrame(result.fetchall(), columns=result.keys())
df

            id mean colories
0   1503960366     1816.4194
1   1624580081     1483.3548
2   1644430081     2811.3000
3   1844505072     1573.4839
4   1927972279     2172.8065
5   2022484408     2509.9677
6   2026352035     1540.6452
7   2320127002     1724.1613
8   2347167796     2043.4444
9   2873212765     1916.9677
10  3372868164     1933.1000
11  3977333714     1513.6667
12  4020332650     2385.8065
13  4057192912     1973.7500
14  4319703577     2037.6774
15  4388161847     3093.8710
16  4445114986     2186.1935
17  4558609924     2033.2581
18  4702921684     2965.5484
19  5553957443     1875.6774
20  5577150313     3359.6333
21  6117666160     2261.1429
22  6290855005     2599.6207
23  6775888955     2131.7692
24  6962181067     1982.0323
25  7007744171     2544.0000
26  7086361926     2566.3548
27  8053475328     2945.8065
28  8253242879     1788.0000
29  8378563200     3436.5806
30  8583815059     2732.0323
31  8792009665     1962.3103
32  8877689391     3420.2581

In [52]:
with engine.connect() as conn:
        result = conn.execute(
            text(f"SELECT id,avg(TotalSteps) as mean_steps  FROM dailyactivity_merged group by id")
        )

df = pd.DataFrame(result.fetchall(), columns=result.keys())
df

            id  mean_steps
0   1503960366  12116.7419
1   1624580081   5743.9032
2   1644430081   7282.9667
3   1844505072   2580.0645
4   1927972279    916.1290
5   2022484408  11370.6452
6   2026352035   5566.8710
7   2320127002   4716.8710
8   2347167796   9519.6667
9   2873212765   7555.7742
10  3372868164   6861.6500
11  3977333714  10984.5667
12  4020332650   2267.2258
13  4057192912   3838.0000
14  4319703577   7268.8387
15  4388161847  10813.9355
16  4445114986   4796.5484
17  4558609924   7685.1290
18  4702921684   8572.0645
19  5553957443   8612.5806
20  5577150313   8304.4333
21  6117666160   7046.7143
22  6290855005   5649.5517
23  6775888955   2519.6923
24  6962181067   9794.8065
25  7007744171  11323.4231
26  7086361926   9371.7742
27  8053475328  14763.2903
28  8253242879   6482.1579
29  8378563200   8717.7097
30  8583815059   7198.5161
31  8792009665   1853.7241
32  8877689391  16040.0323

In [57]:
tables

['dailyactivity_merged',
 'dailycalories_merged',
 'dailyintensities_merged',
 'dailysteps_merged',
 'heartrate_seconds_merged',
 'hourlycalories_merged',
 'hourlyintensities_merged',
 'hourlysteps_merged',
 'minutecaloriesnarrow_merged',
 'minutecalorieswide_merged',
 'minuteintensitiesnarrow_merged',
 'minuteintensitieswide_merged',
 'minutemetsnarrow_merged',
 'minutesleep_merged',
 'minutestepsnarrow_merged',
 'minutestepswide_merged',
 'sleepday_merged',
 'weightloginfo_merged']

In [59]:
with engine.connect() as conn:
        result = conn.execute(
            text(f"SELECT id,avg(TotalTimeInBed) as mean_TotalTimeInBed FROM sleepday_merged group by id")
        )

df = pd.DataFrame(result.fetchall(), columns=result.keys())
df

            id mean_TotalTimeInBed
0   1503960366            383.2000
1   1644430081            346.0000
2   1844505072            961.0000
3   1927972279            437.8000
4   2026352035            537.6429
5   2320127002             69.0000
6   2347167796            491.3333
7   3977333714            461.1429
8   4020332650            379.7500
9   4319703577            501.9615
10  4388161847            426.2083
11  4445114986            416.8214
12  4558609924            140.0000
13  4702921684            441.9643
14  5553957443            505.8710
15  5577150313            460.6154
16  6117666160            510.1667
17  6775888955            369.0000
18  6962181067            466.1290
19  7007744171             71.5000
20  7086361926            466.4167
21  8053475328            301.6667
22  8378563200            483.3125
23  8792009665            453.8000